@tailwind base;
@tailwind components;
@tailwind utilities;

.map-class {
  padding: 0 !important;
}

.map-list-item:hover {
  cursor: pointer;
  transition: all 200ms ease-in;
}
/* @layer utilities {
    .focus-outline{

    }
} */

.input-focus {
  @apply focus:outline-none focus:ring focus:ring-blue-200;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 350px;
}
.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

.layers-container {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.layers-container img {
  border: 2px solid white;
  margin-bottom: 10px;
  border-radius: 4px;
}

.layers-container img:hover,
.layers-container img.active {
  border-color: #ef54a3;
  cursor: pointer;
}
